@import "variables";
@import "mixins";

// Reset y estilos generales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    background-color: $light-bg;
    color: $text-color;
}

// Contenedor
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}